.DS_Store
*.apk
*.ap_
*.dex
*.class
bin/
gen/
out/
.gradle/
build/
local.properties
proguard/
# Log Files
*.log
.navigation/
captures/
*.iml
.idea
# Keystore files
*.jks
.externalNativeBuild
google-services.json
freeline.py
freeline/
freeline_project_description.json
